<html>
  <header style="background-color: aquamarine; padding: 2em;">
    <h1 style="text-align: center; font-weight: bold; font-size: 300%;">Intérprete Typescript</h1>
  </header>
  <body style="text-align: center; margin-top: 2em; margin-bottom: 0;">
    <div style="
      display: grid;
      grid-template-columns: 17fr 16fr 17fr 5fr 1fr 50fr;
      grid-template-rows: 1fr 0.5em;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    ">
      <div style="grid-area: 1 / 1 / 2 / 4;">
        <label for="code" style="display:block; font-size: 200%; font-weight: bold;">Código: </label>
        <textarea type="text" multiple [(ngModel)]="inputValue" required style="width: 90%; font-size: large;" rows="20"></textarea>
      </div>
      <div style="grid-area: 2 / 1 / 3 / 2;">
        <input type="file" #fileInput style="display: none;" (change)="importCode($event)">
        <button nz-button (click)="openFileInput()" style="margin-top: 3em; height: 4em; width: 6em; font-size: large;">Importar</button>
      </div>
      <div style="grid-area: 2 / 2 / 3 / 3;">
        <button nz-button (click)="exportCode()" style="margin-top: 3em; height: 4em; width: 6em; font-size: large;">Exportar</button>
      </div>
      <div style="grid-area: 2 / 3 / 3 / 4;">
        <button nz-button nzType="primary" (click)="onClick()" style="margin-top: 3em; height: 4em; width: 6em; font-size: large;">Enviar</button>
      </div>
      <div style="grid-area: 1 / 4 / 2 / 5; display: flex; flex-direction: column; align-items: center; justify-content: center;">
        <button (click)="putExpression('SUM')" style="width: 5em;">SUM</button>
        <button (click)="putExpression('RES')" style="margin-top: 1em; width: 5em;">RES</button>
        <button (click)="putExpression('MULT')" style="margin-top: 1em; width: 5em;">MULT</button>
        <button (click)="putExpression('DIV')" style="margin-top: 1em; width: 5em;">DIV</button>
      </div>
      <div style="grid-area: 1 / 5 / 2 / 6; display: flex; align-items: center;">
        <hr style="height: 80%;">
      </div>
      <div style="grid-area: 1 / 6 / 2 / 7;">
        <label for="response" style="display:block; font-size: 200%; font-weight: bold; display:block;">Salida: </label>
        <textarea type="text" readonly multiple [(ngModel)]="outputValue" required style="width: 90%; font-size: large;" rows="20"></textarea>
      </div>
    </div>
  </body>
</html>
